{% extends 'base.html' %}

{% block content%}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Sobre Nós</h1>
        </div>
    </div>
</header>


<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br>
                <p align="justify">
                    Somos uma livraria online que oferece uma ampla variedade de livros para todos os gostos. Temos livros de ficção, não-ficção, infantis, juvenis, acadêmicos e muito mais.
                <br><br>
                Nosso objetivo é tornar a leitura acessível a todos, independentemente de sua localização ou orçamento. Oferecemos uma ampla variedade de opções de envio e preços competitivos.
                <br><br>
                Nossa equipe
                <br><br>
                Somos uma equipe de apaixonados por livros que estão comprometidos em oferecer a melhor experiência possível aos nossos clientes. Nossos funcionários são experientes e qualificados e estão sempre prontos para ajudá-lo a encontrar o livro perfeito.
                <br><br>
                Nosso compromisso
                <br><br>
                Estamos comprometidos com a qualidade e a satisfação do cliente. Oferecemos uma garantia de satisfação de 100% em todos os nossos produtos. Se você não estiver satisfeito com sua compra, basta devolvê-la para um reembolso total.
                <br><br>
                Acreditamos que a leitura é uma das atividades mais enriquecedoras que uma pessoa pode fazer. É uma maneira de aprender sobre o mundo, explorar novas ideias e expandir sua imaginação. Estamos aqui para ajudá-lo a encontrar o livro perfeito para sua próxima aventura de leitura.
                <br><br>
                Aqui estão alguns dos nossos valores:
                <br><br>
                Paixão por livros: Amamos livros e estamos comprometidos em oferecer a melhor experiência possível aos nossos clientes.
                Qualidade: Oferecemos produtos de alta qualidade e um serviço ao cliente excepcional.
                Satisfação do cliente: Estamos comprometidos em fornecer aos nossos clientes a satisfação total.
                Agradecemos sua visita ao nosso site!
<br><br>

                </p>

            </div>
        </center>
    </div>

</div>
{% endblock %}