{% extends 'base.html' %}

{% block content%}

<!-- Header-->

<div class="container"><br>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="capa do livro">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <center>
            <h5 class="card-title">{{ product.name }}</h5>
            <br>
            <p class="card-text" align="justify">{{product.descripition}}.</p>
            <!-- Product price-->
            {% if product.sale_price != 0%}
            <strike> R$ {{product.price}} </strike>&nbsp;
            <span>R$ {{product.sale_price}}</span>
            {% else %}
            <span>R$ {{product.price}}</span>
            {% endif %}
            <br><br>
            <div class="row justify-content-center">
              <div class="col-md-2">Quantidade:</div>
              <div class="col-md-2">
                  <select class="form-select form-select-sm" id="quantity-cart" aria-label="Default select example">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                  </select>

              </div>


          </div>

            <br>

            <br>
            <a href="{% url 'home' %}" class="btn btn-secondary"> Voltar</a>
            <br><br>

            <button id="add-cart" type="button" value="{{ product.id }}" class="btn btn-secondary"> Adicionar ao
              Carrinho</button>
          </center>

        </div>
      </div>
    </div>
  </div>

</div>

<script>
  // Chega se o botão foi apertado 
  $("#add-cart").on('click', function (e) {
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: "{% url 'cart-add' %}",
      data: {
        product_id: $(this).val(),
        product_qty : $("#quantity-cart option:selected").text(),
        csrfmiddlewaretoken: '{{ csrf_token }}',
        action: "post",
      },
      success: function (data) {
        console.log(data)
        document.getElementById("cart-quantity").textContent = data.quantity;
        location.reload();
      },
      error: function (xhr, errmsg, err) {

      }
    });
  });

</script>




{% endblock %}